@import url('colors.css');

.project-grid {
    z-index: 1;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project-link {
    text-decoration: none !important;
}

.project {
    background-color: #ffffff;
    width: 500px;
    height: 280px;
    margin-inline: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-radius: 1.3rem;
    box-shadow: #361d5c51 2px 2px 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
}


.project:hover {
    height: 360px;
    box-shadow: #361d5c51 4px 4px 5px;
}

.project-img {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 0.8rem;
    margin-bottom: 15px;
}

.project-img img {
    opacity: 0.8;
    width: 100%;
    height: 230px;
    object-fit: cover;
    object-position: top;
    border-radius: inherit;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0px, rgba(0, 0, 0, 0) 230px);
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
}


.project:hover .project-img img {
    opacity: 1;
    transform: scale(1.02);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0px, rgba(0, 0, 0, 0.3) 200px, rgba(0, 0, 0, 0) 230px);
}

.project-title {
    font-size: 30px;
    margin: 5px;
    color: var(--second-color);
}

.project-bar-separation {
    position: absolute;
    background-color: var(--second-color);
    opacity: 0.8;
    width: 0px;
    height: 2px;
    left: 7%;
    top: 303px;
    transition: all 0.2s ease-in;
}

.project:hover .project-bar-separation {
    width: 86%;
}

.project-description {
    position: absolute;
    opacity: 0;
    left: 35px;
    bottom: 15px;
    font-size: 17px;
    color: var(--second-color);
    margin-right: 35px;
}

.project:hover .project-description {
    opacity: 1;
    transition: all 0.4s ease-in;
}