@import url('colors.css');

.sections {
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin: 0 7.5%;
    padding: 2% 5%;
}

section {
    position: relative;
    overflow: hidden;
}

.section-title {
    font-size: 40px;
    font-weight: bold;
}

.section-title .title-number {
    color: var(--primary-color);
}

.section-text {
    font-size: 25px;
    line-height: 1;
    color: var(--second-color);
    margin-inline: 5%;
}