/* mettre les bordures pour voir les blocks : border: 2px solid #000000; */
@import url('colors.css');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-height: 100%;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    overflow-x: hidden;
}

h2 {
    display: inline-block;
    font-size: 40px;
    color: var(--primary-color);
    font-weight: bold;
}

.footer {
    background-color: var(--primary-color);
    color: #fff;
    padding: 40px 20px;
    position: relative;
    height: 80px;
    margin-top: 75px;
}

.footer-copyright {
    position: absolute;
    bottom: 50px;
    left: 40px;
    font-size: 15px;
    color: #ffffff;
    cursor: pointer;
}